<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>URL shortener</h1>
    <% if (locals.id) { %>
        <p>URL generated : http://localhost:8001/url/<%= id %>
        </p>
        <% } %>
            <div>
                <form method="post" action="/url">
                    <label>Enter your original url</label>
                    <input type="text" name="url" placeholder="https://example.com" />
                    <button type="submit">Generate URL</button>
                </form>
            </div>
            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <th>Sr. no.</th>
                            <th>Short-ID</th>
                            <th>Redirect</th>
                            <th>Clicks</th>
                        </thead>
                        <tbody>
                            <% urls.forEach((url , idx)=> { %>
                                <tr>
                                    <td>
                                        <%= idx+1 %>
                                    </td>
                                    <td>
                                        <%= url.shortId %>
                                    </td>
                                    <td>
                                        <%= url.redirectURL %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
</body>

</html>